<div data-editable="array" data-prop="" data-id-key="_bookshop_name" data-component-key="_bookshop_name">
  {% for block in content_blocks %}
    <editable-array-item data-component="{{ block._bookshop_name }}" data-id="{{ block._bookshop_name }}">
      {% bookshop "{{block._bookshop_name}}" bind: block %}
    </editable-array-item>
  {% endfor %}
</div>
