{% if markdownContent and env_bookshop_live %}
    <div class="c-textBlock">    
        {{ markdownContent | markdownify  }}
    </div>
{% elsif markdownContent %}
<div class="c-textBlock">    
        {{ markdownContent | renderContent | markdownify  }}
    </div>
{% endif %}