{% if text and env_bookshop_live %}
    <div class="c-textBlock">    
        {{ markdownContent | markdownify  }}
    </div>
{% elsif text %}
<div class="c-textBlock">    
        {{ markdownContent | render | markdownify  }}
    </div>
{% endif %}