{% layout "layouts/base.html" %} 


{% block content %}
<div class="flex">
  <aside class="flex flex-col">
    <div>
      <div>search</div>
      <div>collection selection</div>
    </div>
    <div>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
      </ul>
    </div>
  </aside>
 <div class="flex flex-1 w-full mx-auto">
   <section>
   
   {% if content and content != "" %}
   <div class="flex flex-col justify-center">
    <section class="w-full max-w-[720px] cs-mainContent">{{ content }}</section>
   </div>
   {% endif %}
   </section>
   <div>
    {{content | toc }}
   </div>
 </div>
</div>
{% bookshop_include "page" content_blocks: content_blocks %}

 {% endblock %}
