.c-heroLibraryIcon {
    &--outline {
        .c-heroLibraryIcon__svg, * {
            stroke: var(--c-heroLibraryIconColor, #F9F9FB);
        }
    }
    &--solid {
        .c-heroLibraryIcon__svg, *{
            fill: var(--c-heroLibraryIconColor, #F9F9FB);
        }
    }

    &--outline &__image, &--solid &__image {
        background: var(--c-heroLibraryIconColor, #F9F9FB);
        width: 100%;
        height: 100%;
        mask: var(--url);
        -webkit-mask: var(--url);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-size: contain;
        -webkit-mask-size: contain;
    }
}