<ul class="task-list-container" data-editable="array" data-prop="tasks">
    {% for task in tasks %}
  <li class="task-list-item" data-editable="array-item">
    <p><input
        type="checkbox"
        class="task-list-item-checkbox"
        id="task-item-{{ forloop.index }}"
        {% if task.checked %}
        checked="checked"
        {% endif %}
        disabled="disabled"><label class="task-list-item-label" for="task-item-{{ forloop.index }}">
            {% bookshop "generic/textBlock" markdownContent: task.markdownContent %}
        </label>
    </p>
  </li>
    {% endfor %}
</ul>