<div class="{{type}}">
  <div data-editable="array" data-prop="editorials" data-id-key="_bookshop_name" data-component-key="_bookshop_name">
    {% for editorial_block in editorials %}
      <editable-array-item data-component="{{ editorial_block._bookshop_name }}" data-id="{{ editorial_block._bookshop_name }}">
        {% bookshop {{editorial_block._bookshop_name}} bind: editorial_block %}
      </editable-array-item>
    {% endfor %}
  </div>
</div>