{% assign level = level | plus: 1 %}
{% if entry.children.size == 0 %}
  <li>
    <a
      data-umami-event="{{entry.title}}-navbar"
{% comment %}
      {{ entry.url | linkFilter: page.url }}
{% endcomment %}
      class="data-[state=active]:link data-[state=active]: px-3 py-2 text-sm rounded-md hover:bg-gray-800 transition-colors duration-200"
      href="{{ entry.url }}">{{ entry.title }}</a>
  </li>
{% endif %}

{% if entry.children.size > 0 %}
  {% assign navUUID = "a" | uuidFilter %}
  <div class="relative ">
    <div class="w-full">
      <li class=" w-full">
        <button
    aria-expanded="false"

{% comment %}
      {{ entry.url | linkFilter: page.url }}
{% endcomment %}
          class="flex items-center justify-between w-full data-[state=active]: px-3 py-2 text-sm rounded-md hover:bg-gray-800 transition-colors duration-200"
          _="
    on click
         set content to the next <div/>
         set @aria-expanded to ( @aria-expanded == 'false' )
         set *height of content to (content's scrollHeight * ( @aria-expanded == 'true' )) + 'px'
         toggle .rotate-90 on <span/> in me
      end
      ">
          <p>{{ entry.title }}</p>
          <span class="transition-all duration-300 ease-in-out">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
</svg>
          </span>
        </button>
      </li>
    </div>
    <div class="h-0 overflow-hidden transition-all duration-300 ease-in-out">
      <ul
        class="pl-3 flex flex-col gap-1">
        {% for child in entry.children %}
          {% render "partials/render-sidebar.html"
            , entry: child
            , level: level
            , page: page %}
        {% endfor %}
      </ul>
    </div>
  </div>


{% endif %}