{% assign level = level | plus: 1 %}


{% if entry.children.size == nil %}
  <li>
    <a
      data-umami-event="{{entry.title}}-navbar"
      {{ entry.url | linkFilter: page.url }}
      class="data-[state=active]:link data-[state=active]: px-3 py-2 text-sm rounded-md hover:bg-gray-800 transition-colors duration-200"
      href="{{ entry.url }}">{{ entry.title }}</a>
  </li>
{% endif %}

{% if entry.children.size > 0 %}
  {% assign navUUID = "a" | uuidFilter %}
  <div class="relative ">
    <div class="flex items-center">
      <li>
        <button
          data-umami-event="{{entry.title}}-navbar"
          {{ entry.url | linkFilter: page.url }}
          class=" data-[state=active]: px-3 py-2 text-sm rounded-md hover:bg-gray-800 transition-colors duration-200"
          _="
    on click
         set content to the next <div/>
         set @aria-expanded to ( @aria-expanded == 'false' )
         set *height of content to (content's scrollHeight * ( @aria-expanded == 'true' )) + 'px'
         toggle .rotate-45 on <span/> in me
      end
      ">
          <p>{{ entry.title }}</p>
          <span class="c-contentAccordian__xmark {% if opened %} rotate-45 {% endif %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <path d="M0.5 7.5H7.5V0.5C7.5 0.367392 7.55268 0.240217 7.64645 0.146449C7.74021 0.052681 7.86739 9.53674e-07 8 9.53674e-07C8.13261 9.53674e-07 8.25979 0.052681 8.35355 0.146449C8.44732 0.240217 8.5 0.367392 8.5 0.5V7.5H15.5C15.6326 7.5 15.7598 7.55268 15.8536 7.64645C15.9473 7.74021 16 7.86739 16 8C16 8.13261 15.9473 8.25979 15.8536 8.35355C15.7598 8.44732 15.6326 8.5 15.5 8.5H8.5V15.5C8.5 15.6326 8.44732 15.7598 8.35355 15.8536C8.25979 15.9473 8.13261 16 8 16C7.86739 16 7.74021 15.9473 7.64645 15.8536C7.55268 15.7598 7.5 15.6326 7.5 15.5V8.5H0.5C0.367392 8.5 0.240215 8.44732 0.146447 8.35355C0.0526785 8.25979 0 8.13261 0 8C0 7.86739 0.0526785 7.74021 0.146447 7.64645C0.240215 7.55268 0.367392 7.5 0.5 7.5Z" fill="black" />
            </svg>
          </span>
        </button>
      </li>
    </div>
    <ul
      id="{{ entry.title | append: navUUID | slugify }}"
      class="{{display}}    flex flex-col gap-1"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu">
      {% for child in entry.children %}
        {% render "partials/render-nav.html"
          , entry: child
          , level: level
          , page: page %}
      {% endfor %}
    </ul>
  </div>


{% endif %}